<section class="splide" aria-label="Bliss text" id="blisSplide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="p-8 sm:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                        Generic
                    </h1>
                    <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                        <p class="text-2xl leading-7 font-bold">The unmodified, original build of BlissOS</p>
                        <p class="text-lg leading-7">
                            This is the version most people are looking for. It provides a BlissOS build suitable for nearly all hardware, combine with a LTS kernel for a stable experience.
                        </p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="p-8 sm:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                        Surface
                    </h1>
                    <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                        <p class="text-2xl leading-7 font-bold">Designed specifically for the Microsoft Surface devices</p>
                        <p class="text-lg leading-7">
                            This version is designed specifically for the Microsoft Surface devices. The kernel use almost the same LTS kernel but with extra patches from the
                            <a href="https://github.com/linux-surface" target="_blank"  class="text-indigo-400">
                                linux-surface
                            </a>
                            project to ensure the most compatibility.
                        </p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="p-8 sm:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                        Go
                    </h1>
                    <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                        <p class="text-2xl leading-7 font-bold">Designed specifically for the low-end hardware</p>
                        <p class="text-lg leading-7">
                            This version is designed specifically for the low-end hardware. While using the same LTS kernel as the Generic variant, we've added a few tweaks to the internal Android parts to make sure you can have a good experience even if your hardware is limited.
                        </p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="p-8 sm:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
                        Zenith
                    </h1>
                    <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                        <p class="text-2xl leading-7 font-bold">The new flagship build of BlissOS</p>
                        <p class="text-lg leading-7">
                            Zenith is a new BlissOS variant that is intended for "chasing the latest". We will build this variant with only the latest version of BlissOS that is available, combine with latest Stable kernel. BlissOS is intended for people who are having a new hardware that LTS kernel can't support, or people who just want to "chasing the latest".                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>