<div class="relative {{ .context.color }} overflow-hidden" id="features">
    <div class="flex flex-col items-center lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="relative sm:py-8 lg:py-0">
            <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                <div
                        class="absolute inset-y-0 w-full lg:w-[36rem] bg-gray-100 bg-opacity-50 dark:bg-gray-900/80 right-1/2 rounded-3xl lg:right-72">
                </div>
                <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404"
                     height="392" fill="none" viewBox="0 0 404 392">
                    <defs>
                        <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                  fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                </svg>
            </div>
            <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:pb-16">
                <!-- Testimonial card-->
                <div class="relative px-48 pt-48 sm:px-72 sm:pt-64 lg:px-0 pb-32 overflow-hidden shadow-lg rounded-2xl shadow-black dark:shadow-gray-700">
                    <img imgh src="{{ .context.image }}" class="absolute inset-0 object-cover w-full h-full" alt="BlissOS" loading="lazy" />
                </div>
            </div>
        </div>

        <div class="align-middle relative mx-4 max-w-md px-4 sm:max-w-3xl lg:px-0 mt-10 glass">
            <!-- Content area -->
            <div class="m-6">
                <h2 class="text-4xl font-bold tracking-tight text-gray-900 capitalize dark:text-gray-50 sm:text-5xl">
                    {{ .context.baseTitle }}
                </h2>
                <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                    {{ range .info }}
                    <p class="text-2xl leading-7 font-bold">{{ .title }}</p>
                    <p class="text-lg leading-7">
                        {{ .desc }}
                    </p>
                    {{ end }}

                    {{ if eq .context.crv "crv4" }}
                    <div class="mt-6">
                        <a href="https://github.com/BlissOS" target="_blank"  class="text-base font-medium text-indigo-400 hover:text-indigo-600">
                            Visit our GitHub repository&nbsp&rarr;
                        </a>
                    </div>
                    <div class="mt-2">
                        <a href="https://github.com/BlissRoms-x86" target="_blank"  class="text-base font-medium text-indigo-400 hover:text-indigo-600">
                            Visit our old GitHub repository&nbsp&rarr;
                        </a>
                    </div>
                    {{ end }}
                </div>

            </div>
        </div>
    </div>
    <div class="h-72 min-w-[1440px] bg-gradient-to-b from-transparent {{ .context.colorEnd }} {{ .context.crv }} -mt-16">
    </div>
</div>