<section class="splide" aria-label="Bliss text" id="projspl">
    <div class="splide__track">
        <ul class="splide__list">
            {{ range .cards }}
            <li class="splide__slide">
                <div class="flex flex-col overflow-hidden rounded-lg shadow-md bg-gray-50 dark:bg-gray-900 z-10 mx-2 mb-4 w-80">
                    <a href="{{ .url }}" class="h-64 bg-center bg-no-repeat bg-cover" style="background-image: url('{{ .img }}')">
                    <div class="p-6">
                        <div class="flex-1">
                            <a href="{{ .url }}"
                               class="block mt-2 text-2xl font-black text-gray-900 dark:text-gray-200 hover:text-indigo-600 dark:hover:text-indigo-500 hover:underline">
                                {{ .title }}
                            </a>
                            <p class="mt-2 text-sm text-gray-900/80 dark:text-gray-300">
                                {{ .leader }}
                            </p>
                            <p class="mt-2 text-base text-gray-900 dark:text-gray-300">
                                {{ .desc }}
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>