{{ define "main" }}

{{ $idxStyle := resources.Get "css/indexStyle.scss" }}
{{ $style := $idxStyle | resources.ExecuteAsTemplate "indexStyle.scss" . | toCSS }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="all">

{{ partial "svgs.html" . }}

<main class="dark:from-[#110018] dark:to-[#732a35]">
    <div class="bg-cover bg-center h-full overflow-hidden" style="margin-top: -4.5rem; padding-top: 4.5rem" id="mainBG">
        <div class="max-w-screen-xl px-4 py-8 lg:py-16 mx-auto">
            <div class="grid items-center gap-8 lg:mb-8 mb-48 lg:gap-12 lg:grid-cols-12 h-screen -mt-[144px]">
                <div class="mt-48 lg:mt-0 col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                    <h1
                        class="mb-2 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl xl:text-7xl dark:text-white">
                        BlissOS</h1>
                    <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
                        Android for your PC
                    </h2>
                    <p
                       class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                        An Android-based open source OS that incorporates many optimizations, features, and that supports many more devices.
                    </p>
                    <a onclick="window.scrollTo({top: document.getElementById('dlmenu').offsetTop, behavior: 'smooth'})" class="font-bold text-2xl text-indigo-400 hover:text-indigo-600">
                        Download Now&nbsp&rarr;
                    </a>
                </div>
                <div class="col-span-6">
                    {{ with resources.Get "images/pages/bliss_pc_home.jpg" }}
                    <img src="{{ .RelPermalink }}"
                         width="100%" alt="BlissOS Home"
                         class="w-full max-w-xl mx-auto border-gray-950 border-[16px] rounded-lg outline-gray-500 outline-2 outline"/>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="h-72 min-w-[1440px] bg-gradient-to-b from-transparent to-[#EBBBD3] dark:to-[#18040A] -mt-32 crv1"></div>
    </div>
    <!-- More main page content here... -->

    {{ with resources.Get "images/pages/bliss_taskbar.png" }}
    {{ $featAttr := dict
        "color" "bg-[#EBBBD3] dark:bg-[#18040A]"
        "colorEnd" "to-[#E1BBF1] dark:to-[#120019]"
        "image" .RelPermalink
        "baseTitle" "Make it yours"
        "crv" "crv2"
    }}
    {{ $featDesc := slice
        (dict "title" "Focus on design" "desc" "We include many extra options for customization and theming throughout the OS")
        (dict "title" "Customized settings" "desc" "We offer many customizable options for screens, big and small, that allow you to set up your device for whatever task is at hand")
        (dict "title" "Desktop or Tablet UI" "desc" "Bliss OS lets the user choose between Desktop or Tablet UI, based on the launcher being used. You can even mix the two to truly make your system your own")
    }}
    {{ partial "desc-img-left.html" (dict "context" $featAttr "info" $featDesc) }}
    {{ end }}


    {{ with resources.Get "images/pages/bliss_customize.png" }}
    {{ $featAttr := dict
        "color" "bg-[#E1BBF1] dark:bg-[#120019]"
        "colorEnd" "to-[#EBC1C9] dark:to-[#260229]"
        "image" .RelPermalink
        "baseTitle" "Do what you want"
        "crv" "crv3"
    }}
    {{ $featDesc := slice
        (dict "title" "Performance" "desc" "We built the OS with a focus on speed and stability with tweaks to assist in the most demanding use cases")
        (dict "title" "Compatibility" "desc" "We bring Bliss to every device we can, and our PC builds even include extra ARM/ARM64 compatibility so you can use your favorite apps")
        (dict "title" "Battery-friendly" "desc" "Extra options are provided to let you tune battery usage to your perfect blend of performance and power")
    }}
    {{ partial "desc-img-right.html" (dict "context" $featAttr "info" $featDesc) }}
    {{ end }}

    {{ with resources.Get "images/pages/bliss_github.png" }}
    {{ $featAttr := dict
        "color" "bg-[#EBC1C9] dark:bg-[#260229]"
        "colorEnd" "to-[#E1BBF1] dark:to-[#120019]"
        "image" .RelPermalink
        "baseTitle" "This is Open Source"
        "crv" "crv4"
    }}
    {{ $featDesc := slice
        (dict "title" "We respect your privacy" "desc" "We constantly update things with the latest security updates from Google. And as an open source project, all our source is available, so users can ensure their data and safety are at the top of our concerns. For users that have an even greater concern about their user data, we also offer Bliss OS builds that are Google Services free, with F-Droid & microG for a truly secure user experience.")
        (dict "title" "We volunteer our time" "desc" "We are a 501(c3) nonprofit, run by people that donate their free time towards the project. We do our best to bring a quality OS to your device, while working a real job on the side in most cases.")
    }}
    {{ partial "desc-img-left.html" (dict "context" $featAttr "info" $featDesc) }}
    {{ end }}


    <div class="bg-[#E1BBF1] dark:bg-[#120019] overflow-hidden">
        <div class="text-center mb-8">
            <h2 class="text-4xl font-black tracking-tight text-black dark:text-white">
                Build Types
            </h2>
        </div>
        <div class="overflow-hidden sm:pt-6 mb-8 lg:relative">
            <div class="items-center max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 pb-8 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-12 lg:px-8">
                <div class="md:mt-8 glass">
                    {{ partial "description.html" . }}
                </div>
                {{ partial "descimage.html" . }}
            </div>
        </div>
        <div class="h-72 min-w-[1440px] bg-gradient-to-b from-transparent to-[#e38d9d] dark:to-[#320536] -mt-16"
             style="clip-path: url(#mask3)">
        </div>
    </div>


    {{ with resources.Get "images/pages/newinstaller.png" }}
    {{ $featAttr := dict
        "color" "bg-[#e38d9d] dark:bg-[#320536]"
        "colorEnd" "to-[#F5E4DF] dark:to-[#3d0626]"
        "image" .RelPermalink
        "baseTitle" "Easy to install"
        "crv" "crv1"
    }}
    {{ $featDesc := slice
        (dict "title" "Intuitive design" "desc" "With our graphical installer, you can experience a seamless installation process.")
        (dict "title" "Multiple Languages" "desc" "The installer comes with multiple languages, so you can use your preferred language.")
    }}
    {{ partial "desc-img-left.html" (dict "context" $featAttr "info" $featDesc) }}
    {{ end }}

    <!-- Logo cloud section.html -->
    <div id="dlmenu" class="text-center relative bg-[#F5E4DF] dark:bg-[#3d0626] dark:text-white overflow-hidden">
        <h2 class="text-4xl font-black tracking-tight mb-12">BlissOS Downloads</h2>
        {{ partial "dlselect.html" . }}
        <p class="pt-12 m-4">*<a href="http://docs.blissos.org" class="hover:text-indigo-600 dark:hover:text-indigo-500">Check our Documentation</a> to see which devices these builds are supported</p>
        <div class="h-72 min-w-[1440px] bg-gradient-to-b from-transparent to-[#E1BDE1] dark:to-[#291d29] pb-4"
             style="clip-path: url(#mask5)">
        </div>
    </div>


    <!-- Funding -->
    <div class="bg-[#E1BDE1] dark:bg-[#291d29] overflow-hidden ">
        <div class="text-center mb-8">
            <h2 class="text-4xl font-black tracking-tight text-black dark:text-white">
                Funding
            </h2>
        </div>
        <div class="max-w-md px-4 mx-auto md:pt-6 md:pb-8 sm:max-w-3xl sm:px-6 sm:pb-8 lg:max-w-7xl lg:px-8 lg:mb-16">
            <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-24">
                <div class="glass px-8 pb-6">
                    <h2 class="pt-6 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">
                        Support Us
                    </h2>
                    <p class="max-w-3xl mt-6 text-lg leading-7 text-gray-900 dark:text-white">
                        With the help of our users and fans, we've been able to grow from individual, passionate volunteers into a small but sustainable team.
                        Every little bit of support helps us improve our projects and tackle even more ambitious goals.
                    </p>
                </div>
                <div class="items-center text-center flex flex-col lg:justify-center space-x-1 gap-4 lg:gap-8 glass p-6 mt-6">
                    <p class="card-text text-black dark:text-white">Bliss OS is on OpenCollective, and you can contribute to our collective through the link here.</p>
                    <a href="https://opencollective.com/bliss-os/donate" target="_blank" class="text-base font-medium text-indigo-400 hover:text-indigo-600">
                        Donate to our Collective&nbsp&rarr;
                    </a>
                    <script src="https://opencollective.com/bliss-os/banner.js"></script>
                </div>
            </div>
        </div>
        <div class="h-72 min-w-[1440px] bg-gradient-to-b from-transparent to-[#f797d2] dark:to-[#381d2e] -mt-16"
             style="clip-path: url(#mask7);">
        </div>
    </div>


    <div class="bg-[#f797d2] dark:bg-[#381d2e] overflow-hidden text-black dark:text-white">
        <div class="text-center mb-8">
            <h2 class="text-4xl font-black tracking-tight">
                The A-Team
            </h2>
        </div>
        <div class="max-w-md px-4 mx-auto md:pt-6 md:pb-8 sm:max-w-3xl sm:px-6 sm:pb-8 lg:max-w-7xl lg:px-8 lg:mb-16">
            <div class="pt-6 gap-4 justify-items-center grid glass px-8 pb-6 grid-cols-[repeat(auto-fit,minmax(220px,1fr))]">
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/39849246?v=4" alt="hmtheboy154">
                    <h3 class="text-2xl font-bold">hmtheboy154</h3>
                    <p class="text-sm">Bliss OS Lead Maintainer / AG maintainer</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/7821082?v=4" alt="Jackeagle">
                    <h3 class="text-2xl font-bold">Jackeagle</h3>
                    <p class="text-sm">Founder: Bliss ROMs</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/8572619?v=4" alt="Jon West">
                    <h3 class="text-2xl font-bold">Jon West</h3>
                    <p class="text-sm">Founder: BlissLabs / Bliss OS / Android-Generic Project / Bliss Co-Labs / Navotpala Tech / Bass OS </p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/74831516?v=4" alt="hmtheboy154">
                    <h3 class="text-2xl font-bold">QuackDoc</h3>
                    <p class="text-sm">Bliss OS Developer</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/60534636?v=4" alt="hmtheboy154">
                    <h3 class="text-2xl font-bold">shadichy</h3>
                    <p class="text-sm">Bliss OS Developer</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/43091780?v=4" alt="utzcoz">
                    <h3 class="text-2xl font-bold">utzcoz</h3>
                    <p class="text-sm">Founder: BoringDroid</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/80520774?v=4" alt="Xtr126">
                    <h3 class="text-2xl font-bold">Xtr126</h3>
                    <p class="text-sm">Founder: XTMapper</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/25761003?v=4" alt="Evan Galvin">
                    <h3 class="text-2xl font-bold">Evan Galvin</h3>
                    <p class="text-sm">Build Server Administrator / Server Sponsor</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/78258352?v=4" alt="XelXen">
                    <h3 class="text-2xl font-bold">XelXen</h3>
                    <p class="text-sm">Graphic Designer / Animation</p>
                </div>
                <div class="text-center max-w-48">
                    <img class="rounded-full size-48" src="https://avatars.githubusercontent.com/u/58767497?v=4" alt="GiftShower">
                    <h3 class="text-2xl font-bold">GiftShower</h3>
                    <p class="text-sm">Web Developer</p>
                </div>
            </div>
        </div>
        <div class="h-72 min-w-[1440px] bg-gradient-to-b from-transparent to-[#EFF3FF] dark:to-[#0F141D] -mt-16"
             style="clip-path: url(#mask6);">
        </div>
    </div>


    <!-- Other projects -->
    <div class="relative px-1 bg-opacity-50 bg-indigo-100 dark:bg-opacity-50 dark:bg-slate-800 lg:px-8">
        <div class="relative px-2 mx-auto max-w-7xl">
            <div class="text-center">
                <h2
                    class="text-3xl font-black tracking-tight text-black dark:text-white sm:text-4xl">
                    Other projects by BlissLabs
                </h2>
                <p class="max-w-2xl mx-auto mt-3 text-xl text-black dark:text-gray-200 sm:mt-4">
                    BlissOS is just one of many projects. <br/>
                    Checkout some of the other projects that work through BlissLabs below.</p>
            </div>

            <div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50 md:px-1.5">
                <div class="px-4 text-gray-900 dark:text-white not-prose">
                    {{ $cardAttr := slice
                        (dict "title" "BlissRoms" "leader" "Project Lead: Jackeagle" "desc" "A fully featured replacement OS for your Android device based off AOSP, bringing many customizations, features, and optimizations to your device." "url" "https://blissroms.org/" "img" (resources.Get "images/pages/bliss-roms.png").RelPermalink )
                        (dict "title" "Android-Generic" "leader" "Project Lead: Jon West" "desc" "Bringing Android ROMs to PCs and GSI devices everywhere. Simple to start, easy to use development toolkit. Go get your ROM on :)" "url" "https://android-generic.github.io/" "img" (resources.Get "images/pages/ag_logo_black.png").RelPermalink )
                        (dict "title" "Boringdroid" "leader" "Project Lead: utzcoz" "desc" "Boringdroid is a boring project to provide patch set to run multi-window on low version AOSP." "url" "https://boringdroid.github.io/" "img" (resources.Get "images/pages/boringdroid.png").RelPermalink )
                        (dict "title" "SupremeGamers" "leader" "Project Lead: Axon" "desc" "Biggest Android-x86 Gaming and Modding Community and creators of Gearlock Recovery and Advance Android x86 Installer for Windows." "url" "https://boringdroid.github.io/" "img" (resources.Get "images/pages/sg-logo.png").RelPermalink )
                        (dict "title" "Lindroid" "leader" "Project Lead: Erfan Abdi" "desc" "Lindroid allows for convergent experience on modern Android devices." "url" "https://github.com/linux-on-droid" "img" (resources.Get "images/pages/lindroid.png").RelPermalink )
                        (dict "title" "IzzyOnDroid" "leader" "Project Lead: Andreas Itzchak Rehberg (Izzy)" "desc" "IzzyOnDroid provides a curated repository of FOSS Android apps, transparently labeling anti-features and performing additional scans." "url" "https://apt.izzysoft.de/fdroid/" "img" (resources.Get "images/pages/izzyondroid.png").RelPermalink )
                    }}
                    {{ partial "project-slide.html" (dict "cards" $cardAttr) }}
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}